
// nib
@import '../../bower_components/nib'

// mixins
@import mixins

// Normalize
@import "../../bower_components/normalize-styl/_normalize"

// fonts
F = 'museo-slab' 'omnes-pro'
FS = 16px 18px

// colors
OK = #66D600
ERR = #ED2400

// black
B = #000000 #050505 #131313 #232323 #323232

// white
W = #FFFFFF #f8f8f8 #f6f6f6 #f3f3f3 #f1f1f1 #efefef #ebebeb #e6e6e6 #e2e2e2 #dedede #dadada

//social colors
Facebook = #516FA7
Twitter = #3DBBEE

// color classes
.facebook
  background: Facebook
.twitter
  background: Twitter
    

